body {
    background-color:black;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
h1{color:grey;}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: white;
}

#layout {
    background-color: white;
    border-radius: 25px;
    padding:10px;
    height: 50%;
}

